body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f8f9fa;
  color: #222;
  font-family: 'Noto Sans Tamil', sans-serif;
}

.section {
  padding: 60px 20px;
  text-align: center;
}

h2 {
  color: #0077ff;
  margin-bottom: 20px;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}


/* Light mode (default) */
body.light-mode {
  background-color: #ffffff;
  color: #222;
}

/* Dark mode */
body.dark-mode {
  background-color: #121212;
  color: #f1f1f1;
}

/* Reuse button styles */
.lang-btn,
.theme-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 8px;
}

.lang-btn:hover,
.theme-btn:hover {
  background-color: #0056b3;
}
